{% extends "NovosgaUsersBundle::base.html.twig" %}

{% block body %}
    <h1>
        <i class="fa fa-users" aria-hidden="true"></i>
        {% trans %}Usuários{% endtrans %}
        <small>
            {% trans %}Gerencie os usuários da unidade atual{% endtrans %}
        </small>
    </h1>
        
    {{ form_start(form) }}

        {% include 'flashMessages.html.twig' %}

        <div class="row">
            <div class="col-md-5">
                <fieldset>
                    <legend>{% trans %}Geral{% endtrans %}</legend>

                    <p class="text-secondary">{% trans %}Dados básico do usuário.{% endtrans %}</p>

                    {{ form_row(form.login) }}

                    <div class="row">
                        <div class="col-sm-4">
                            {{ form_row(form.nome) }}
                        </div>
                        <div class="col-sm-8">
                            {{ form_row(form.sobrenome) }}
                        </div>
                    </div>

                    {{ form_row(form.email) }}

                    {% if entity.id %}
                        <div class="row">
                            <div class="col-6">
                                {{ form_row(form.ativo) }}
                            </div>
                            <div class="col-6 text-right">
                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#dialog-senha">
                                    <i class="fa fa-lock"></i>
                                    {% trans %}Alterar senha{% endtrans %}
                                </button>
                            </div>
                        </div>
                    {% endif %}

                    {% if not entity.id %}
                        {{ form_row(form.senha) }}

                        {{ form_row(form.confirmacaoSenha) }}
                    {% endif %}
                </fieldset>
            </div>
            <div class="col-md-7" id="lotacoes">
                <fieldset>
                    <legend>{% trans %}Lotações{% endtrans %}</legend>

                    <p class="text-secondary">{% trans %}Lotação é utilizada para definir o perfil de acesso do usuário nas unidades.{% endtrans %}</p>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{% trans %}Unidade{% endtrans %}</th>
                                <th>{% trans %}Perfil{% endtrans %}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="lotacao in lotacoes">
                                <td>
                                    {% verbatim %}
                                        {{ lotacao.unidade.nome }}
                                    {% endverbatim %}
                                    <input type="hidden" name="novasUnidades[]" v-bind:value="lotacao.unidade.id" v-if="lotacao.novo">
                                </td>
                                <td>
                                    {% verbatim %}
                                        {{ lotacao.perfil.nome }}
                                    {% endverbatim %}
                                    <input type="hidden" name="novosPerfis[]" v-bind:value="lotacao.perfil.id" v-if="lotacao.novo">
                                </td>
                                <td class="text-right text-nowrap">
                                    <button type="button" title="{% trans %}Visualizar permissões{% endtrans %}" class="btn btn-secondary" v-on:click="viewPerfil(lotacao.perfil.id)">
                                        <i class="fa fa-eye"></i>
                                    </button>

                                    <button type="button" title="{% trans %}Remover{% endtrans %}" class="btn btn-danger" v-on:click="remove(lotacao)">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                </td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#dialog-lotacao">
                                        <i class="fa fa-plus"></i>&nbsp;
                                        {% trans %}Adicionar{% endtrans %}
                                    </button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    
                    {{ form_row(form.lotacoesRemovidas, { attr: { 'v-model': 'unidadesRemovidas' } }) }}
                    
                </fieldset>
            </div>
        </div>

        <div class="buttons">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check"></i> 
                {% trans %}Salvar{% endtrans %}
            </button>
            <a href="{{ path('novosga_users_index') }}" class="btn btn-secondary">
                <i class="fa fa-chevron-left"></i>
                {% trans %}Voltar{% endtrans %}
            </a>
        </div>

    {{ form_end(form) }}

    
    {# lotação #}
    <div id="dialog-lotacao" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="lotacao-form">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans %}Lotação{% endtrans %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <!-- dynamic content loaded by ajax -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            {% trans %}Fechar{% endtrans %}
                        </button>
                        <button type="submit" class="btn btn-primary">
                            {% trans %}Adicionar{% endtrans %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
                            
    {# permissoes #}
    <div id="dialog-perfil" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans %}Perfil{% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" v-if="perfil">
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                {% trans %}Nome{% endtrans %}
                            </th>
                            <td>
                                {% verbatim %}
                                    {{perfil.nome}}
                                {% endverbatim %}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% trans %}Descrição{% endtrans %}
                            </th>
                            <td>
                                {% verbatim %}
                                    {{perfil.descricao}}
                                {% endverbatim %}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% trans %}Permissões{% endtrans %}
                            </th>
                            <td>
                                {% verbatim %}
                                    <ul>
                                        <li v-for="modulo in perfil.modulos">
                                            {{modulo}}
                                        </li>
                                    </ul>
                                {% endverbatim %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {# dialog mudar senha apenas para usuarios ja cadastrados #}
    {% if entity.id > 0 %}
        <div id="dialog-senha" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h5 class="modal-title">{% trans %}Alterar senha{% endtrans %}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="senha_senha">{% trans %}Nova Senha{% endtrans %}</label>
                                <input id="senha_senha" type="password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="senha_confirmacao">{% trans %}Confirmar senha{% endtrans %}</label>
                                <input id="senha_confirmacao" type="password" class="form-control" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">
                                {% trans %}Alterar{% endtrans %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var unidades = [ {% for unidade in unidades %}{{ unidade.id }},{% endfor %} ],
            lotacoes = [ 
                {%- for lotacao in entity.lotacoes -%}
                    {
                        unidade: {
                            id: {{ lotacao.unidade.id }},
                            nome: "{{ lotacao.unidade.nome }}"
                        },
                        perfil: {
                            id: {{ lotacao.perfil.id }},
                            nome: "{{ lotacao.perfil.nome }}"
                        }
                    },
                {%- endfor -%} 
            ];
    </script>
    <script src="{{ asset('bundles/novosgausers/js/script.js') }}"></script>
{% endblock %}