{% extends "@NovosgaUsers/base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-6  col-lg-8">
            <h1>
                <i class="fa fa-users" aria-hidden="true"></i>
                {% trans %}Usuários{% endtrans %}
                <small>
                    {% trans %}Gerencie os usuários da unidade atual{% endtrans %}
                </small>
            </h1>
        </div>
        <div class="col-md-6 col-lg-4 text-right">
            <form class="form-inline">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" placeholder="{% trans %}Buscar{% endtrans %}" value="{{ app.request.get('q') }}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-secondary">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <a href="{{ path('novosga_users_new') }}" class="btn btn-primary ml-auto">
                    <i class="fa fa-plus"></i>
                    {% trans %}Novo usuário{% endtrans %}
                </a>
            </form>
        </div>
    </div>
        
    <hr>
    
    <table class="table table-bordered">
        <thead class="thead-light">
            <th>#</th>
            <th>{% trans %}Nome de usuário{% endtrans %}</th>
            <th>{% trans %}Nome{% endtrans %}</th>
            <th>{% trans %}Situação{% endtrans %}</th>
            <th></th>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.login }}</td>
                    <td>{{ usuario.nome }} {{ usuario.sobrenome }}</td>
                    <td>
                        {% if usuario.ativo %}
                            {% trans %}Ativo{% endtrans %}
                        {% else %}
                            {% trans %}Inativo{% endtrans %}
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <a href="{{ path('novosga_users_edit', { id: usuario.id }) }}" class="btn btn-secondary">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
            
    {{ paginacao|raw }}
{% endblock %}