{% extends "::base.html.twig" %}

{% block body %}
    <h1>
        <i class="fa fa-users" aria-hidden="true"></i>
        {% trans %}Usuários{% endtrans %}
        <small>
            {% trans %}Gerencie os usuários da unidade atual{% endtrans %}
        </small>
    </h1>
    
    <table id="datatable" class="table table-striped">
        <thead>
            <th>#</th>
            <th>{% trans %}Nome de usuário{% endtrans %}</th>
            <th>{% trans %}Nome{% endtrans %}</th>
            <th>{% trans %}Status{% endtrans %}</th>
            <th class="col-md-1"></th>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/novosgausers/css/jquery.dataTables.min.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/novosgausers/css/dataTables.bootstrap.min.css") }}" />
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/novosgausers/js/jquery.dataTables.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/novosgausers/js/dataTables.bootstrap.min.js") }}"></script>
    <script>
        (function() {
            'use strict'
            
            $('#datatable').dataTable({
                processing: true,
                serverSide: true,
                searching: false,
                ajax: '{{ path('novosga_users_search') }}',
                pageLength: 10,
                columns: [
                    {
                        data: 'id'
                    },
                    {
                        data: 'login',
                    },
                    {
                        data: 'nome'
                    },
                    {
                        data: 'status'
                    },
                    {
                        data: 'id',
                        render: function (id) {
                            return '<a href="{{ path('novosga_users_index') }}edit/' + id + '" class="btn btn-default"><i class="fa fa-edit"></i></a>';
                        }
                    }
                ]
            }).on('preXhr.dt', function (e, settings, data) {
                $('#search-form :input').each(function (i, e) {
                    var input = $(e);
                    data.search[input.prop('name')] = input.val();
                });
            }).on('draw.dt', function () {
                
            });
        })();
    </script>
{% endblock %}