{% extends "@NovosgaUsers/base.html.twig" %}

{% trans_default_domain 'NovosgaUsersBundle' %}

{% block body %}
    <div class="row">
        <div class="col-md-6  col-lg-8">
            <h1>
                <i class="fa fa-users" aria-hidden="true"></i>
                {{ 'title'|trans }}
                <small>
                    {{ 'subtitle'|trans }}
                </small>
            </h1>
        </div>
        <div class="col-md-6 col-lg-4 text-right">
            <form class="form-inline">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" placeholder="{{ 'label.search'|trans }}" value="{{ app.request.get('q') }}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-secondary">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <a href="{{ path('novosga_users_new') }}" class="btn btn-primary ml-auto">
                    <i class="fa fa-plus"></i>
                    {{ 'button.new_user'|trans }}
                </a>
            </form>
        </div>
    </div>
        
    <hr>
    
    <table class="table table-bordered">
        <thead class="thead-light">
            <th>#</th>
            <th>{{ 'label.username'|trans }}</th>
            <th>{{ 'label.name'|trans }}</th>
            <th>{{ 'label.status'|trans }}</th>
            <th></th>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.login }}</td>
                    <td>{{ usuario.nome }} {{ usuario.sobrenome }}</td>
                    <td>
                        {% if usuario.ativo %}
                            <span class="text-success">{{ 'label.enabled'|trans }}</span>
                        {% else %}
                            <span class="text-danger">{{ 'label.disabled'|trans }}</span>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <a href="{{ path('novosga_users_edit', { id: usuario.id }) }}" class="btn btn-secondary">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
            
    {{ paginacao|raw }}
{% endblock %}